modules = ["nodejs-20:v8-20230920-bd784b9"]
hidden = [".config", "tsconfig.json", "tsconfig.node.json", "vite.config.js", ".gitignore"]
run = "cd GUI; npm run dev"
entrypoint = "/main.jsx"

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[languages]
[languages.javascript]
pattern = "**/{*.js,*.jsx,*.ts,*.tsx}"
  [languages.javascript.languageServer]
  start = "typescript-language-server --stdio"


[nix]
channel = "stable-23_05"

[unitTest]
language = "nodejs"

[[ports]]
localPort = 5173
externalPort = 3000
exposeLocalhost = true

# [deployment]
# run = ["sh", "-c", "npm run dev"]
# deploymentTarget = "cloudrun"
# ignorePorts = false
